/* General Website Styling ===================================================================== */

body {
  font-family: sans-serif;
  font-size: 20px;

  margin: 0;                 /* remove default margin */

  overflow-y: scroll;        /* allow content to scroll vertically */
}

li {
  margin: 0.5em 0;            /* add spacing between list items */
}

/* Navigation Bar Styling ====================================================================== */

.navbar {
  position: absolute;

  width: 100%;               /* width: full length of visible window */
  height: 3em;               /* height: 3x font height */

  z-index: 1;                /* bring navigation bar to the fore-ground so its always on top of page content */
}

.navbar-item {
  height: 1em;               /* height: x1 font height (ie. match contents) */
  margin: auto 0.5em;        /* vertical auto (centered) and horizontal 0.5em spacing */

  text-decoration: none;     /* remove default link underline */
  font-weight: bold;
  color: darkgrey;
  font-size: 1.25em;
}

.navbar-item:hover {
  color: black;
}

.logo {
  width: 2.5em;              /* width: x2.5 font height (relative to parent) */
  height: 2.5em;             /* height: x2.5 font height (relative to parent) */
  margin: auto 0.25em;       /* vertical auto (centered) and horizontal 0.25em spacing */
}

/* Page Styling ================================================================================ */

.page {
  width: 100%;               /* width: full length of visible window */
  /*height: calc(100% - 3em);  !* height: full height of visible window *!*/
  padding-top: 3em;          /* top offset to account for navigation bar */

  position: absolute;        /* allows all page elements to 'overlap' */
  visibility: hidden;        /* page is hidden by default, until selected */
}

.page:target {
  visibility: visible;       /* makes page visible when selected */
}

.horizontal-container {
  width: 100%;               /* default width is full page unless overwritten */

  display: flex;             /* flex-box (for better control of inner element placement) */
  flex-direction: row;       /* align inner content horizontally (ie. single row) */
}

.vertical-container {
  width: 100%;               /* default width is full page unless overwritten */

  display: flex;             /* flex-box (for better control of inner element placement) */
  flex-direction: column;    /* align inner content vertically (ie. single column) */
}

.content-centered {
  justify-content: center;   /* main axis alignment */
  align-items: center;       /* cross axis alignment */
}

.width-half {
  width: 50vw;               /* set container width to half the screen width */
}

.content-image {
  margin: auto;              /* center image */
  max-width: 75%;            /* set max width to 75% (effectively adding minimum 12.5% horizontal margins) */
}

.wide-image {
  margin: 20% auto;          /* extra top/bottom margins to extend height & center image */
}

.half-page {
  height: 50vh;             /* fill half of page height */
}

.full-page {
  height: 100vh;             /* fill entire page height */
}